A{
color:#2E0A7F;
FONT-FAMILY: Arial, Helvetica, sans-serif;
FONT-SIZE: 9pt;
text-decoration:none;
}
A:hover{
color:#2E0A7F;
FONT-FAMILY: Arial, Helvetica, sans-serif;
FONT-SIZE: 9pt;
text-decoration:none;
}
.mail{
color:#FFFFFF;
FONT-FAMILY: Arial, Helvetica, sans-serif;
FONT-SIZE: 9pt;
text-decoration:underline;
font-weight: bold;
}
:hover.mail{
color:#FFFFFF;
FONT-FAMILY: Arial, Helvetica, sans-serif;
FONT-SIZE: 9pt;
text-decoration:none;
font-weight: bold;
}
.oxford {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #FFFFFF;
}
.actu{
color:#85BE34;
FONT-FAMILY: Arial, Helvetica, sans-serif;
FONT-SIZE: 9pt;
text-decoration:none;
font-weight: bold;
}
:hover.actu{
color:#85BE34;
FONT-FAMILY: Arial, Helvetica, sans-serif;
FONT-SIZE: 9pt;
text-decoration:none;
font-weight: bold;
}
.prochaine{
color:#7A4B91;
FONT-FAMILY: Arial, Helvetica, sans-serif;
FONT-SIZE: 9pt;
text-decoration:none;
font-weight: bold;
}
:hover.prochaine{
color:#7A4B91;
FONT-FAMILY: Arial, Helvetica, sans-serif;
FONT-SIZE: 9pt;
text-decoration:none;
font-weight: bold;
}
.incont{
color:#2A9DF1;
FONT-FAMILY: Arial, Helvetica, sans-serif;
FONT-SIZE: 9pt;
text-decoration:none;
font-weight: bold;
}
:hover.incont{
color:#2A9DF1;
FONT-FAMILY: Arial, Helvetica, sans-serif;
FONT-SIZE: 9pt;
text-decoration:none;
font-weight: bold;
}
.nouveau{
color:#A93901;
FONT-FAMILY: Arial, Helvetica, sans-serif;
FONT-SIZE: 9pt;
text-decoration:none;
font-weight: bold;
}
:hover.nouveau{
color:#A93901;
FONT-FAMILY: Arial, Helvetica, sans-serif;
FONT-SIZE: 9pt;
text-decoration:none;
font-weight: bold;
}
.festival{
color:#FC7D01;
FONT-FAMILY: Arial, Helvetica, sans-serif;
FONT-SIZE: 9pt;
text-decoration:none;
font-weight: bold;
}
:hover.festival{
color:#FC7D01;
FONT-FAMILY: Arial, Helvetica, sans-serif;
FONT-SIZE: 9pt;
text-decoration:none;
font-weight: bold;
}
.remise{
color:#2E0A7F;
FONT-FAMILY: Arial, Helvetica, sans-serif;
FONT-SIZE: 9pt;
text-decoration:none;
font-weight: bold;
}
:hover.remise{
color:#2E0A7F;
FONT-FAMILY: Arial, Helvetica, sans-serif;
FONT-SIZE: 9pt;
text-decoration:none;
font-weight: bold;
}
