A{
color:#333333;
FONT-FAMILY: Arial, Helvetica, sans-serif;
FONT-SIZE: 10pt;
text-decoration:none;
}
A:hover{
color:#FFFFFF;
FONT-FAMILY: Arial, Helvetica, sans-serif;
FONT-SIZE: 10pt;
text-decoration:none;
}
