<style type="text/css">     
     <!-
      
    
      .gd {color : #FF0000;text-decoration:none;
      }
      .gd:hover {color : #999999;text-decoration:none;
      }
      
       .gg {color : #ffffff;text-decoration;
      }
      .gg:hover {color : #0006ff;text-decoration:underline;
      }
      
 		.hh {color : #ff0000;text-decoration:none;
      }
      .hh:hover {color : #ffff00;text-decoration:underline;
      }
     -!>
</style>
